
/* FONTS */

@font-face {
  font-family: 'System85';
  src:
    url('../fonts/system85/system85-regular.woff2') format('woff2'),
    url('../fonts/system85/system85-regular.woff') format('woff'),
    url('../fonts/system85/system85-regular.eot') format('eot'),
    url('../fonts/system85/system85-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* BASE */

body {
  background-color: white;
  font-family: 'System85', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.01em;
}

::selection {
  color: #fcc;
  background: #f55;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ff-din-round-web', sans-serif;
  letter-spacing: 0.025em;
  color: #f55;
  font-weight: normal;
  width: auto;
  line-height: 1.7em;
}

p, li {
  color: #888;
}

a {
  color: #f55;
}

a:hover {
  text-decoration: none;
}


/* HEADER */

body > header {
  margin-bottom: 50px;
  background: #f55;
  color: white;
  padding: 50px;
}

body > header div {
  margin: 0 auto;
  max-width: 800px;
}

body > header h1 {
  margin: 0;
  color: white;
  font-size: 40px;
  line-height: 1.5em;
}
body > header p {
  color: #fcc;
  font-weight: 400;
  max-width: 475px;
  margin: 0;
}
body > header a {
  color: white;
  font-weight: 500;
}


/* MAIN */

main {
  padding: 0px 50px 50px 50px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  position: relative;
  padding-top: 25px;
  margin-bottom: 50px;
  clear: both;
}

section + section {
  border-top: 1px solid #ccc;
}

section h2 {
  font-size: 25px;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 85%;
}

section article {
  margin: 0;
}

section header .expand-collapse-controls {
  position: absolute;
  top: 25px;
  right: 25px;
}
section header .expand-collapse-controls a {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid #f55;
  font-weight: 400;
  text-decoration: none;
  color: #f55;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}
section header .expand-collapse-controls a:hover {
  background-color: #f55;
  color: white;
}
section header .expand-collapse-controls a.expand {
  display: none;
}

section.collapsed {
  padding-bottom: 15px;
  margin-bottom: 0;
}
section.collapsed article {
  display: none;
}
section.collapsed header .expand-collapse-controls a.expand {
  display: inline-block;
}
section.collapsed header .expand-collapse-controls a.collapse {
  display: none;
}

section div.icon {
  margin: -8px 13px 0 -4px;
  font-size: 1.25em;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  background: #f55;
  color: white;
  width: 1.85em;
  height: 1.85em;
  border-radius: 1.85em;
  float: left;
  vertical-align: top;
}

section h3 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0.25em 0;
  font-size: 1.1em;
}

section h3 + p,
section h3 + h4 {
  margin-top: 0;
}

section h4 {
  margin-bottom: 5px;
}

section p {
  font-size: 1em;
  line-height: 1.45em;
  color: #666;
}

section code {
  display: inline;
  color: #f55;
  background: #fee;
  padding: 1px 4px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  font-size: 0.85em;
}

section.unavailable h2,
section.unavailable p,
section.unavailable li,
section.unavailable h4 {
  color: #aaa;
}
section.unavailable div.icon {
  background-color: #aaa;
}
section.unavailable header .expand-collapse-controls {
  display: none;
}

/* LISTS */

ul {
  margin: 0;
  padding: 0 0 0 25px;
}

/* DOWNLOADS */

ul.downloads {
  padding-left: 5px;
}

ul.downloads > li:before {
  content: none;
}

ul.downloads {
  margin-top: 0.5em;
}

ul.downloads > li {
  display: inline-block;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
}

ul.downloads > li a {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #f55;
  text-decoration: none;
  font-weight: 400;
}

ul.downloads > li a:hover {
  background-color: #f55;
  color: #fff;
}
